<!-- Tabs for switching between Restaurants and Users -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#if (eq activeTab 'restaurants')}}active{{/if}}" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if (eq activeTab 'users')}}active{{/if}}" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if (eq activeTab 'categories')}}active{{/if}}" href="/admin/categories">Categories</a>
  </li>
</ul>

<br />